body {
  background-image: url("https://i.pinimg.com/originals/b7/9d/4e/b79d4edef595d92680fb56f5d28248ac.jpg");
  color: #f6f4f1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 150%;
  margin: 100px, auto;
  text-align: center;

}

.parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/b7/9d/4e/b79d4edef595d92680fb56f5d28248ac.jpg");

    /* Set a specific height */
    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3 {
  font-family: 'Fredericka the Great', cursive;
  font-variant: small-caps;
}

#rules {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  border-style: inset;
  border-width: 3px;
  /* border: dashed; 3px; #f6f4f1; */
  border-color: #f6f4f1;
  margin-left: 400px;
  margin-right: 400px;
}

#submit-btn1, #submit-btn2, #reset-btn {
    background-color: #ed7777;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 7px 18px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(230,230,230, 0.2), 0 6px 20px 0 rgba(230,230,230, 0.19);
}

.content{
  padding: 50;
  margin-top: 50px;
  margin-bottom: 200px;
}

input[type=text] {
    width: 200px;
    padding: 8px 15px;
    margin: 8px 0;
    border: 1px solid black;
    box-sizing: border-box;
}

input:focus {
    outline: none !important;
    border: 1px solid #a54630;
    box-shadow: 0 0 10px #a54630;
}

#display-moves, #match-result {
  font-size: 100;
}
